/* #area{
  width: 150px;
  height: 150px;
  background: yellow;
  text-align: center;
}
 */

 /* #msg{

  width: 150px;
  height: 150px;
  background: yellow;
  text-align: center;

 } */

 /* #btnaumenta{
  width: 100px;
  height: 50px;
 } */

 /* #d{
  width: 150px;
  height: 150px;
  background: yellow;
  position: absolute;
  cursor: pointer;
  border-radius: 100px;
 } */